html, body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #D9D5DB;
}

.main{
    /*background-color: pink;*/
    margin: 2rem;
}

table,footer,.cara,.info{
    border-radius: 10px;
}

section, footer{    
    margin: 0;    
}

footer{
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    background-color: purple;
}

.rs{
    height: 100%;
    width: 100%;
    background-color: aqua;
    margin: 0;
}

.a,.b,.c,.d,.e{
    text-align: center;
    width: 20%;
}

section{
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    /*background-color: black;*/
}

.curriculum{
    width: 100%;
    margin: 0;
    /*background-color: green;*/   
    
}

tbody,tr{
    margin: 0;
}

.cara{
    text-align: left;
    width: 25%;
    background-color: #EBE9EC;
}

.button{
    margin-top: 5px;
    text-align:center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    text-align: center;
    margin-top: 1rem;
}

.cara p{
    margin-left: 10px;
}

.espacio{
    width: 1%;
    
}

.info{
    margin: 0%;
    width: 74%;
    background-color:  #EBE9EC;
}




